# .coveragerc
[run]
parallel = true
concurrency = multiprocessing
source = src
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */conftest.py

[report]
precision = 2
skip_empty = true

[html]
directory = htmlcov